<div class="container">
<% @events.each do |event| %>
<div class= "col-md-4 event">
	<h2><%= event.name %> <br ></h2>
	<h4><%= event.time.strftime("%d %b %Y %l:%M %p")  %> <br ></h4>
	<%= link_to "View",show_id_path(event), class: "btn btn-raised btn-info"%>
</div>
<%end%>
</div>
